doctype html
html
  head
    title My Dance Website
    block scripts
    block style
  body 
    nav#navbar 
      ul 
        div#logo 
          img(src="/static/imgg/logo.jpeg")
        li #[a(href='/') Home]
        li #[a(href='/#missionSection') Services]
        li #[a(href='/#about') About] 
        li #[a(href='/#sponsors') ClassInfo]
        li #[a(href='/contact') ContactUs]
    block content
    footer#footer 
      |  Copyright © PrakritiDanceAcademy | All Rights Reserved