extends base.pug
block scripts
      script(src='/static/script.js')
block style
    style 
      include ../static/stylecontact.css
      include ../static/style.css
block content
   if message
        p(style="color: green")= message 
   div#container
    h1 Contact Us
    form(action="/contact",method="post",class="myForm") 
        input(type="text",class="myInput",name="name",placeholder="Enter your name")
        input(type="phone",class="myInput",name="phone",placeholder="Enter your phone number")
        input(type="email",class="myInput",name="email",placeholder="Enter your email")
        input(type="text",class="myInput",name="address",placeholder="Enter your address")
        input(type="text",class="myInput",name="desc",placeholder="Enter about yourself")
        input(type="date",class="myInput",name="date",default=Date.now)
        button(class="btn")
           | Submit